.entry-header {

  //border-bottom: 1px solid #ccc;
  //border-top: 1px solid #ccc;
  margin: 1rem 0;

}

.entry-title {
  font-size: 1.750rem;
  text-align: center;
  text-transform: uppercase;

  a { 
    color: $highlight-color;
    text-decoration: none;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;

    &:active,
    &:focus,
    &:hover {
      color: lighten( $highlight-color, 20%);
    }
  }
}

.entry-meta {
  font-family: $base-font-family; 
  font-size: 1em;
  font-style: italic;
  text-align: center;
}

.entry-content {

  p {
    font-size: 1.125em;
    line-height: 1.5;
  }

  h1,
  h2,
  h3 {
    font-size: 1.5em;
    font-weight: 400;
    color: $highlight-color;
  }
  h4,
  h5,
  h6 {
    font-size: 1.2em;
    font-weight: 400;
    color: $highlight-color;
  }

  a {
    color: $highlight-color;

    &:active,
    &:focus,
    &:hover {
      color: lighten( $highlight-color, 20% );
    }
  }
}

.post {
  .entry-footer {
    border-bottom: 1px solid $base-border-color;
    padding-bottom: 1rem;
  }
}

body.home {

    article.page {
    border-bottom: 1px solid $base-border-color;
    padding-bottom: 1em;
    margin-bottom: 1em;
  }

  .site-main {
    .page:last-of-type {
      border-bottom: none;
    }
  }
}