// Page Header
.page-header {
  text-align: center;
}
.page-title {
  color: lighten($base-font-color, 25%);
  font-size: $base-font-size * 2;
  text-transform: uppercase;
}

// Post Styles
.entry-header {
  margin: 1rem 0;
}

.entry-title {
  font-size: 1.750rem;
  text-align: center;
  text-transform: uppercase;

  a { 
    color: $highlight-color;
    text-decoration: none;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;

    &:active,
    &:focus,
    &:hover {
      color: lighten( $highlight-color, 20%);
    }
  }
}

.entry-meta {
  font-family: $base-font-family; 
  font-size: 1em;
  font-style: italic;
  text-align: center;
}

.entry-content {

  p {
    font-size: 1.125em;
    line-height: 1.5;
  }

  h1,
  h2,
  h3 {
    font-size: 1.5em;
    font-weight: 400;
    color: $highlight-color;
  }
  h4,
  h5,
  h6 {
    font-size: 1.2em;
    font-weight: 400;
    color: $highlight-color;
  }

  a {
    color: $highlight-color;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      color: lighten( $highlight-color, 20% );
    }
  }

  ul,
  ol {

    clear: left;
    li { margin-bottom: 1em; }
  }
}

.post {
  margin-top: 2em;
  .entry-footer {
    border-bottom: 1px solid $base-border-color;
    padding-bottom: 1rem;
  }
}

.posted-on {
  a { 
    color: $highlight-color;
    text-decoration: none; }
}

body.blog,
body.archive,
body.single {
  .post:last-of-type {

    .entry-footer{
    border-bottom: none;
    }
  }
}

body.home {

    article.page,
    article.report_edition {
    border-bottom: 1px solid $base-border-color;
    padding-bottom: 1em;
    margin-bottom: $base-spacing * 3;
  }

  .site-main {
    .page:last-of-type {
      border-bottom: none;
    }
  }
}

// Misc WordPress styles from the WPEditor
.aligncenter,
.alignleft {
  width: auto;
  margin: auto 1em 1em 1em;

  @include media($large-screen) {
    float: left;
    margin: auto 2em 1.5em 0;
  }
}
.alignright {

    @include media($large-screen) {
    float: right;
    margin: auto 0 1.5em 1.5em;
  }
}