.entry-header {

  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 1rem 0;

  span { 
    font-family: $base-font-family; 
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    display: block;
    margin: .5rem 0; }

}

.entry-title {
  font-size: 1.750rem;
  text-align: center;
  text-transform: uppercase;
}

.entry-content {
  p {
    font-size: 1.125rem;
    line-height: 1.5;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: $highlight-color;
  }
}