$base-font-family: "proxima-nova", "Proxima Nova", sans-serif;
$heading-font-family: "proxima-nova", "Proxima Nova", sans-serif;
$navigation-font-family: "proxima-nova", "Proxima Nova", sans-serif;

// Font Sizes
//$base-font-size: 1em;
$base-font-size: 100%;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$base-bg-color: #b7b2b4;
$base-font-color: #333;
$color-accent: #ed1e79;
$highlight-color: #059EBA;
//$highlight-color: #f99d1c;
$highlight-bg-color: #ed1e79;
$base-border-color: #ccc;
//$action-color: #40b4e4;
//$action-color: #ed1e79;

// #e3cc00 -- WHR 2016 Vol. 1 gold
// #94bb33 -- WHR 2016 Vol. 2 green



$action-color: #e3cc00;

// Screen Sizing
$medium-screen: em(640) !default;
$large-screen: em(860) !default;
